* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 44, 44);
    color: antiquewhite;
}

#app {
    width: 100vw;
    height: 100vh;
}
.backgroundImage{
    
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2019/12/02/17/35/background-4668291__340.jpg);
    filter: blur(3px)
    brightness(50%);

    background-size: cover;
    background-repeat: no-repeat;
}

div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
li{
    cursor:pointer
}

